@use '~/global/index' as *;

.stub-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(3px);
  @include wh-100;

  &__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      margin-top: 24px;
    }
  }

  &__update-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    button {
      margin-top: 8px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
