.tech-settings-popup {
  width: 400px;

  &__select:not(:first-child) {
    margin-bottom: 16px;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;

    .paragraph-text {
      display: flex;
      align-items: center;
    }
  }

  &__select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;

    .ant-select {
      width: 90% !important;
    }

    .ant-select-disabled {
      span {
        color: var(--secondary-text);
      }

      .ant-select-arrow {
        opacity: 0;
      }
    }
  }

  &__volume-indicator-wrapper {
    position: relative;
    height: 7px;
    margin: 8px 0;
    overflow: hidden;
    background-color: var(--dark-green);
    border-radius: 8px;
    transition: ease-in-out 0.4s height;

    &--hide {
      height: 0;
      transition: ease-in-out 0.4s height;
    }
  }

  &__volume-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--success);
  }

  &__video {
    .ant-btn > .ant-btn-loading-icon .anticon {
      padding: 0;
    }

    video {
      width: 100%;
      height: 100%;
      margin-top: 8px;
      border-radius: 8px;
    }

    height: 300px;
    transition: ease-in-out 0.4s height;

    &--hide {
      height: 0;
      transition: ease-in-out 0.4s height;
    }
  }
}
