.create-multiple-chat-popup {
  width: 300px;
  max-height: 450px;

  &__controls {
    margin-bottom: 0;
  }

  .icon--image {
    svg {
      transform: scale(1.6);
    }
  }

  .avatar-loader {
    margin-bottom: 16px;

    .ant-avatar {
      background: var(--dark-gray) !important;
    }
  }
}
