@use '~/global/index' as *;

.avatar {
  $self: &;

  display: flex;
  align-items: center;

  .ant-image-mask {
    border-radius: 50%;
  }

  &__image {
    padding: 1px;
    object-fit: cover !important;
    overflow: hidden;
    background: var(--main-bg) !important;
    border: solid 1px var(--secondary-text);
    border-radius: 50% !important;
  }

  &--square {
    .ant-image-mask {
      border-radius: 0;
    }
    #{ $self }__image {
      border-radius: 4px !important;

      .icon {
        svg {
          transform: scale(1.5);
        }
      }
    }
  }

  &--extra-small {
    #{ $self }__image {
      $size: 28px;

      width: $size !important;
      min-width: $size;
      height: $size !important;
      min-height: $size;
    }
  }

  &--small {
    #{ $self }__image {
      $size: 32px;

      width: $size !important;
      min-width: $size;
      height: $size !important;
      min-height: $size;
    }
  }

  &--middle {
    #{ $self }__image {
      $size: 64px;

      width: $size !important;
      min-width: $size;
      height: $size !important;
      min-height: $size;
    }
  }

  &--large {
    #{ $self }__image {
      $size: 100px;

      width: $size !important;
      min-width: $size;
      height: $size !important;
      min-height: $size;
    }
  }

  &--extra-large {
    #{ $self }__image {
      $size: 150px;

      width: $size !important;
      min-width: $size;
      height: $size !important;
      min-height: $size;
    }
  }

  .icon {
    @include wh-100;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: var(--secondary-text);
      font-size: 4rem;
    }
  }

  .ant-ribbon {
    top: -10px;
    display: flex;
    justify-content: center;
    height: 14px;
    padding: 0 4px;
    font-size: 10px;
    line-height: 16px;
  }

  .ant-ribbon-corner {
    display: none;
  }

  &--ribbon-down {
    .ant-ribbon {
      top: 22px;
    }
  }

  &--dot-down {
    .ant-badge-dot.ant-scroll-number {
      top: 28px;
      left: 23px;
    }
  }
}
