.emoji-dropdown {
  li {
    width: 42px !important;
  }

  .ant-btn-icon-only {
    display: none !important;
  }
}

ul#emoji-menu {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 33.333%;
    padding: 1rem;
    text-align: center;
  }
}
