@use '~/global/index' as *;

.call-modal-video {
  position: absolute;
  display: flex;
  @include wh-100;

  overflow: hidden;

  &__interlocutor-avatar {
    @include absolute-center;

    top: calc(50% - 20px);
  }

  &__interlocutor-audio-status {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.3rem;
    background-color: var(--main-bg);
  }

  &__settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    span {
      font-size: 1.5rem;
    }

    &:hover {
      color: var(--accent);
    }
  }

  &__interlocutor-video {
    position: absolute;
    @include wh-100;

    video {
      @include wh-100;

      object-fit: contain;
    }

    .ant-avatar {
      @include absolute-center;

      width: 150px;
      height: 150px;

      img {
        object-fit: cover;
      }

      svg {
        width: 100px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
