.short-chat-list {
  max-height: 200px;
  padding: 16px 4px 4px;

  .short-chat-list__container {
    height: 180px;
    overflow: auto;
  }

  .short-chat-list__subtitle {
    margin-top: 8px;
    color: var(--secondary-text);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;

    &:hover {
      background-color: var(--dark-gray-transparent);
      cursor: pointer;
    }

    .ant-image {
      margin-top: 4px;
    }
  }

  &__name {
    margin-left: 8px;
  }
}
