@use '~/global/index' as *;

.widget-wrapper {
  height: 100%;
}

.widget-wrapper--light .widget-wallpaper {
  opacity: 0.2;
  filter: invert(1);
}

.widget-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/shared/assets/img/main-wallpaper.jpg');
  background-position: 0 0;
  opacity: 0.15;
  pointer-events: none;
}

.widget-wallpaper--main {
  background-repeat: repeat;
  background-size: calc(100% / 5) auto;
  transform: rotate(-45deg);
  scale: 2.2;
}

.widget-wallpaper--aside {
  background-size: contain;
}

.widget-wallpaper--bar {
  background-size: cover;
}

.widget-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 1;

  &--hide {
    height: 0;
    opacity: 0;
    transition-delay: 0s, 0.4s;
    transition-duration: 0.4s, 0s;
    transition-property: opacity, height;
  }

  &::after {
    @include bg-gradient-loader(0.1);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--secondary-text);
    font-size: 24px;
    background: var(--main-bg);
    content: 'Widget loading...';
  }

  @keyframes move-line {
    0% {
      background-position: 0% 0;
    }

    100% {
      background-position: 200% 0;
    }
  }

  .loading-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--accent) 0%, #a4d8ffa5 50%, var(--accent) 100%);
    background-size: 200% 100%;
    animation: move-line 2s linear infinite;
  }
}
