@use '~/global/index' as *;

.info-list {
  @include nm-outset-element;

  width: 100%;
  padding: 16px;

  &__header {
    margin-bottom: 16px;
  }

  p {
    color: var(--secondary-text);
    font-size: 12px;
  }
}
