@use '~/global/index' as *;

.call-modal {
  @include wh-100;

  overflow: hidden;
  background-color: var(--dark-gray-transparent-2);
  border: 2px solid var(--dark-gray);
  border-radius: 8px;
  backdrop-filter: blur(10px);

  .call-modal__wrapper {
    @include wh-100;
  }

  .call-modal__user-settings {
    position: absolute;
    top: 50px;
    right: 0;
    width: 34px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .call-modal__user-settings .button {
    background-color: var(--main-bg);
  }

  .call-modal__user-setting:hover .button {
    background-color: var(--accent);
  }

  .call-modal__user-setting:hover .icon {
    color: var(--white);
  }

  .call-modal__body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 35px);
  }

  .call-modal__user-video {
    position: absolute;
    right: 0;
    bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100px;
    overflow: hidden;
  }

  .call-modal__user-video video {
    @include wh-100;

    object-fit: contain;
  }

  .call-modal__user-video .ant-avatar {
    width: 50px;
    height: 50px;
  }

  .call-modal__user-video img {
    object-fit: cover;
  }

  .call-modal__user-video svg {
    width: 30px;
    height: 30px;
  }

  .call-modal__user-video span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .call-modal__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    padding-top: 1.5rem;
  }

  .call-modal__length {
    padding: 0.5rem;
    background-color: rgb(0 0 0 / 20%);
  }

  .call-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 16px 0 4px;
    background-color: var(--main-bg);
  }

  .call-modal__controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5rem;
  }

  .call-modal__controls-elements {
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
    margin-top: 1rem;
  }

  .call-modal__controls-element {
    margin: 0 5px;
  }

  .call-modal__interlocutor-name {
    margin-top: 32px;
  }

  .call-modal__window-controls {
    z-index: 1;
    display: flex;
    border-color: var(--main-text);
  }

  .call-modal__window-controls-element {
    margin: 0 4px;
  }

  .icon--video-call-thin svg {
    transform: scale(1.2);
  }

  .icon--video-drop svg {
    transform: scale(1.1);
  }
}
