@use '~/global/index' as *;

.chat-room {
  position: relative;
  @include wh-100;

  margin-left: 24px;
  padding: 1rem;
  @include nm-outset-element;

  overflow: hidden;
  @include max-width-576 {
    margin-left: 100%;
  }

  &__message {
    &--self {
      justify-content: flex-end;

      .message__text {
        text-align: right;
      }
    }

    &--system {
      justify-content: center;
      margin-left: 16px;

      .message {
        width: 100%;
        border-radius: 4px;
      }

      .message__text {
        text-align: center;
      }
    }

    &--time {
      justify-content: center;
      font-size: 10px;
      opacity: 0.6;
    }
  }

  &__wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__body {
    position: absolute;
    width: 100%;
    height: calc(100% - 94px);
    overflow: hidden;

    .ant-list-empty-text {
      @include absolute-center;

      white-space: nowrap;
    }

    .ant-list-items {
      padding-right: 10px;
      overflow-y: scroll;
    }

    .ant-list,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-list-items {
      height: 100%;
    }

    .ant-list-item {
      border: none;
    }
  }

  &__empty-text {
    @include absolute-center;

    white-space: nowrap;
  }

  &__stub {
    height: 100%;
    @include flex-total-center;
  }

  .informer {
    position: absolute;
    bottom: 0;
  }
}
