.contact-search {
  .ant-select {
    width: 100%;
  }

  &__global-search-header {
    margin-top: 8px;
  }

  &__search-type {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .ant-radio-button-wrapper {
    margin-right: 8px;
    padding: 0;
    border: none !important;
  }
}
