@use '~/global/index' as *;

.aside-panel {
  position: relative;
  display: block;
  width: 30%;
  min-width: 300px;
  height: 100%;
  overflow: hidden;
  @include nm-outset-element;
  @include max-width-768 {
    width: 100%;
    min-width: 100%;
  }

  &__content {
    height: 100%;
    overflow-y: auto;
  }
}
