.context-menu-wrapper {
  &__body {
    position: absolute;
    top: 500px;
    left: 500px;
    width: auto;
    min-width: 150px;
    max-width: 300px;
    height: auto;
    color: var(--secondary-text);
    background-color: var(--dark-gray);
    border-radius: 4px;
    transition: opacity 0.2s ease-in-out;
  }

  &__element {
    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:hover {
      color: var(--main-bg);
      background-color: var(--secondary-text);
      cursor: pointer;
    }
  }
}
