.input-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  form {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 0.7rem;
    }
  }
}
