@use '~/global/index' as *;

.contact-list {
  padding: 16px;

  .contact-list__btn:nth-child(2) {
    margin: 0 8px;
  }

  .contact-list__invited {
    display: flex;
    align-items: center;
    color: var(--accent);
  }

  .divider {
    margin-top: 16px;
  }

  .ant-list-item-meta {
    display: flex;
    align-items: center;
  }

  .ant-list-item-meta-title {
    margin-bottom: 0;
  }

  .ant-list-item-meta-avatar {
    margin-right: 10px;
  }

  .ant-btn-icon-only.ant-btn-lg {
    @include max-width-768 {
      width: 30px;
      height: 30px;
    }
  }

  .contact-list__list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .contact-list__controls {
    display: flex;
    margin-top: 2px;
    margin-left: 32px;

    .icon--chat {
      margin-top: 2px;
      transform: scale(0.9);
    }
  }
}
