.user-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 16px;

  .link {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__password-recovery {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  &__id {
    text-align: center;
  }

  &__user-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .ant-card-body {
      padding: 8px;
    }

    .ant-card-meta-avatar {
      margin-bottom: 8px;
      padding: 0;
    }

    .ant-card-meta-detail {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > div:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .ant-card-meta {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4px;
    }

    .ant-card-meta-title {
      color: var(--main-text);
    }

    .ant-card-meta-description {
      overflow: hidden;
      color: var(--secondary-text);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__additional-setting-info {
    max-width: 300px;
    margin-top: 8px;
    padding: 0 8px;
    color: var(--secondary-text);
    text-align: center;
  }

  &__theme-switch,
  &__sound-switch,
  &__notification-switch,
  &__wallpaper-switch,
  &__tooltip-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
