.select-users {
  .select-users__title {
    color: var(--secondary-text);
  }

  .select-users__user {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
  }

  .select-users__user:hover {
    background: var(--dark-gray-transparent);
  }

  .select-users__divider {
    height: 1px;
    margin: 8px 0;
    background: var(--secondary-text);
  }

  .select-users__user .paragraph-text {
    margin-left: 8px;
  }

  .select-users__selected-users {
    display: flex;
    margin-bottom: 16px;
  }

  .select-users__choose-list {
    gap: 8px;
    max-height: 140px;
    overflow: auto;
  }
}