@use '~/global/index' as *;

.top-bar {
  position: relative;
  z-index: 2;
  height: $bar-height;
  min-height: $bar-height;
  margin-bottom: 16px;
  padding: 0 8px;
  overflow: hidden;
  @include nm-outset-element;

  .top-bar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .top-bar__action-btns {
    display: flex;
    align-items: center;
  }

  .widget-wrapper {
    display: flex;
    align-items: center;
  }
}
