@use './dimensions-variables.scss' as *;

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-total-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wh-100 {
  width: 100%;
  height: 100%;
}

@mixin nm-inset-shadow-compensation {
  box-shadow: inset 0 10px 10px var(--shadow-inset-start), inset -10px -10px 10px var(--shadow-inset-end) !important;
}

@mixin nm-inset-shadow {
  box-shadow: inset 10px 10px 10px var(--shadow-inset-start), inset -10px -10px 10px var(--shadow-inset-end) !important;
}

@mixin nm-inset-element {
  @include nm-inset-shadow;

  background-color: var(--main-bg) !important;
  border: none;
  border-radius: 8px;
}

@mixin nm-outset-shadow {
  background-color: var(--main-bg) !important;
  box-shadow: 5px 5px 15px var(--shadow-outset-start), -5px -5px 15px var(--shadow-outset-end);
}

@mixin nm-outset-element {
  @include nm-outset-shadow;

  background-color: var(--main-bg) !important;
  border: none;
  border-radius: 8px;
}

@mixin nm-outset-shadow-sharpen {
  background-color: var(--main-bg) !important;
  box-shadow: 5px 5px 8px var(--shadow-outset-start), -5px -5px 8px var(--shadow-outset-end);
}

@mixin nm-outset-element-sharpen {
  @include nm-outset-shadow-sharpen;

  background-color: var(--main-bg) !important;
  border: none;
}

@mixin glow {
  box-shadow: 1px 1px 10px var(--accent);
}

@mixin bg-gradient-loader($opacity) {
  @include wh-100;

  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--accent);
  background-size: 100% 100%;
  transform: scale(1.1);
  opacity: $opacity;
  transition: transform ease-in-out 0.4s;
  animation: gradient 3s ease infinite;
  content: '';
}

@mixin max-width-1366 {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin max-width-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin max-width-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin max-width-576 {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin max-width-460 {
  @media (max-width: 460px) {
    @content;
  }
}

@mixin max-width-375 {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin max-width-320 {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin min-width-1366 {
  @media (min-width: 1366px) {
    @content;
  }
}
