@use '~/global/index' as *;

.user-data-settings-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $container-sm;
  margin-top: 16px;

  &__image {
    margin-bottom: 32px;
  }

  &__controls {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: flex-end;
    }
  }
}
