.sign-up {
  &__privacy-policy {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &-text {
      margin-bottom: 25px;
    }

    .switch {
      margin-right: 8px;

      &__value-text {
        left: 34px;
      }
    }
  }
}
