@use '~/global/index' as *;

.room-header {
  position: absolute;
  top: 0;
  left: -1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 2rem);
  padding: 0 1rem 1rem;

  @include max-width-768 {
    justify-content: space-between;
    margin-top: 4px;
  }

  &__back-button {
    display: none;

    @include max-width-768 {
      display: block;
      margin-right: 16px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__name {
    margin-left: 0.5rem;
    color: var(--secondary-text);
  }

  &__controls {
    display: flex;
    align-items: center;

    > * {
      margin-left: 0.5rem;
    }
  }

  &__settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    vertical-align: center;
    cursor: pointer;
  }

  .is-typing {
    margin-left: 1rem;
  }
}
