@use '~/global/index' as *;

.create-new-password {
  .header-text {
    margin-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $container-sm;
  }
}
