@use '~/global/index' as *;

.avatar-loader {
  $self: &;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $container-sm;

  &__body {
    position: relative;
    width: 100px;
    margin: 0 auto;

    .avatar {
      max-height: 100px;
    }

    input {
      z-index: 3;
      max-height: 100px;
      cursor: pointer;
      opacity: 0;
      @include absolute-center;
      @include wh-100;

      &[type='file'] {
        border: 1px;
        border-radius: 50%;
      }
    }
  }

  &--square {
    #{$self}__clear-button {
      top: -12px;
      right: -12px;
    }
  }

  &__clear-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
