@use '~/global/index' as *;

.chat-room-settings-popup {
  width: $container-sm;

  &__chat-name {
    margin-top: 16px;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__control-button {
    margin-left: auto;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__members-list {
    display: flex;
    margin-top: 4px;
  }

  &__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .icon--image {
    background-color: var(--dark-gray);

    svg {
      transform: scale(1.6);
    }
  }
}
