.confirmed-email {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-text {
    margin-bottom: 8px;
  }

  .paragraph-text {
    margin-bottom: 16px;
  }

  &__loader {
    margin-top: 16px;
  }
}
