.informer {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px;
  border-radius: 4px;

  &__text {
    margin-top: 1px;
  }

  &__icon {
    margin-right: 8px;
  }

  &--warn {
    background: var(--warn-bg);
  }

  &--success {
    background: var(--success-bg);
  }

  &--error {
    background: var(--error-bg);
  }
}
