@use '~/global/index' as *;

// radio button
.ant-radio-button-wrapper {
  display: flex;
  align-items: center;
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
  border: 1px solid var(--secondary-text) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: var(--accent) !important;
  border-color: var(--accent-text) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: none !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

// switch
.ant-switch {
  background-color: var(--main-bg);
  @include nm-inset-shadow;

  &-checked {
    @include nm-inset-shadow;
  }

  &-handle {
    @include nm-outset-shadow;
  }

  &-inner {
    color: var(--secondary-text);
  }
}

// tag
.ant-tag {
  @include nm-inset-shadow;

  color: var(--secondary-text);
}

// select
.ant-select {
  .ant-select-selector {
    border-radius: 8px !important;
  }

  .ant-select-selection-item {
    margin-top: 2px;
  }

  color: var(--secondary-text);

  &-multiple {
    .ant-select-selection-placeholder {
      color: var(--secondary-text) !important;
    }

    .ant-select-selection-item {
      background: var(--dark-gray-transparent);
      border-color: var(--dark-gray-transparent);
      border-radius: 8px !important;

      &-remove {
        svg {
          color: var(--secondary-text);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-selector {
    @include nm-inset-element;

    border: none !important;
  }

  &-arrow {
    z-index: 1;
    color: var(--secondary-text) !important;
  }

  &-dropdown {
    padding: 0 !important;
    background: var(--dark-gray) !important;
  }

  &-item {
    color: var(--secondary-text) !important;
    background: var(--dark-gray) !important;

    &:hover {
      color: var(--main-text) !important;
      background-color: var(--secondary-text) !important;
      cursor: pointer;
    }
  }
}

.ant-select-item-option-state {
  svg {
    padding: 2px;
    color: var(--success) !important;
    background: var(--dark-gray);
    border-radius: 50%;
  }
}

// error
.ant-form-item-explain-error {
  margin-top: 2px;
  margin-left: 12px;
  color: var(--error-text);
  font-size: 12px;
}

// modal
.ant-modal-mask {
  background-color: var(--modal-overflow-color);
}

div[role='dialog'] {
  width: auto !important;
}

.ant-modal-body {
  padding-top: 0;
}

.ant-modal-content,
.ant-modal-header {
  background: var(--main-bg) !important;
  border-bottom: none;
}

.ant-modal-content {
  padding: 0.5rem 0;
}

.ant-modal-title {
  color: var(--secondary-text) !important;
  font-size: 18px;
}

.ant-modal-close-x {
  color: var(--secondary-text) !important;
}

// notification
.ant-notification-notice {
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 100%), 0 6px 16px 0 rgb(0 0 0 / 25%), 0 9px 28px 8px rgb(0 0 0 / 15%) !important;

  &-success {
    background: var(--success-bg);
  }

  &-error {
    background: var(--error-bg);
  }

  &-info {
    background: var(--info-bg);
  }

  &-warning {
    background: var(--warn-bg);
  }

  .anticon {
    color: var(--main-text);
  }
}

.ant-notification-notice-message {
  color: var(--main-text) !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 0;
}

.ant-notification-notice-close-x {
  color: var(--main-text) !important;
}

// list
.ant-list-header {
  padding-bottom: 4px;
  color: var(--secondary-text) !important;
  border: none !important;
}

.ant-list-item-meta-title {
  color: var(--secondary-text) !important;
}

.ant-list-item {
  border: none !important;
}

.ant-list-item-meta-description {
  color: var(--secondary-text) !important;
}

.ant-list-empty-text {
  color: var(--secondary-text) !important;
}

// tabs
.ant-tabs-tab-btn {
  color: var(--secondary-text) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--accent) !important;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-color: var(--secondary-text) !important;
}

.ant-tabs-tab {
  padding-top: 0;
}

// tooltip
.ant-tooltip {
  padding: 0;
}

.ant-tooltip-inner {
  padding-top: 7px;
  color: var(--secondary-text);
  font-size: 12px;
  background-color: var(--dark-gray) !important;
}

// table
.ant-table-wrapper,
.ant-table-thead,
.ant-table-tbody,
.ant-table-cell {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
}

// pagination
.ant-pagination-prev > button,
.ant-pagination-next > button {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
}

.ant-pagination-item {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
}

// drop-down
.ant-dropdown {
  &-menu {
    padding: 0;

    &-title-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    overflow: hidden;
    background: var(--dark-gray);
    border-radius: 4px;

    li {
      position: relative;
      color: var(--secondary-text) !important;

      &[read='unread']::before {
        position: absolute;
        top: 5px;
        right: 4px;
        width: 5px;
        height: 5px;
        background-color: var(--error);
        border-radius: 50%;
        content: '';
      }

      &:hover {
        color: var(--main-bg) !important;
        background-color: var(--secondary-text);
      }
    }
  }
}

.ant-image-preview-img-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-image-mask {
  span {
    margin-right: 0 !important;
  }

  &-info {
    font-size: 0;
  }
}

.ant-image-preview-operations-operation {
  display: none !important;
}

// collapse
.ant-collapse {
  background-color: transparent;
  border: transparent;

  span {
    color: var(--secondary-text) !important;
  }

  &-item {
    margin-bottom: 8px;
    background-color: var(--dark-gray);
    border: none !important;
    border-radius: 4px !important;
  }
}

// badge
.ant-badge {
  display: flex;
  align-items: center;
}

.ant-badge-status-red {
  background: var(--error);
}

.ant-badge-status-green {
  background: var(--success);
}

.ant-scroll-number-only-unit {
  font-size: 12px;
}

.react-draggable {
  position: fixed !important;
  overflow: hidden !important;
}
