@use '~/global/index' as *;

.page {
  position: relative;
  height: 100%;
  padding: 16px;
  overflow: hidden;
}

.sign-in,
.sign-up,
.wait-confirm-email,
.confirmed-email {
  &__wrapper {
    @include absolute-center;
  }

  &__body {
    width: $container-sm;
    height: 250px;
  }

  form {
    position: absolute;
    top: 50px;
  }
}
