.header-text {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1;
}

.header-text--secondary {
  color: var(--secondary-text);
}

.header-text--accent {
  color: var(--accent);
}

.header-text--left {
  margin-right: auto;
}

.header-text--bold {
  font-weight: bold;
}

.header-text--sm {
  font-size: 16px;
}

.header-text--md {
  font-size: 20px;
}

.header-text--lg {
  font-size: 24px;
}

.header-text--xl {
  font-size: 32px;
}

.header-text--xxl {
  font-size: 40px;
}

.header-text--tribal {
  font-family: 'Rajdhani, Helvetica', sans-serif;
}

.paragraph-text {
  color: var(--main-text);
  font-size: 12px;
}

.paragraph-text--bold {
  font-weight: bold;
}

.paragraph-text--accent {
  color: var(--accent);
}

.paragraph-text--error {
  color: var(--error);
}

.paragraph-text--secondary {
  color: var(--secondary-text);
}

.paragraph-text--sm {
  font-size: 10px;
}

.paragraph-text--md {
  font-size: 14px;
}
