.reply-message {
  position: relative;
  display: flex;
  align-items: center;
  height: 0;
  margin: 4px 0;
  padding: 8px;
  color: var(--secondary-text);
  background-color: var(--dark-gray-transparent);
  border-radius: 4px;

  &__icon {
    margin-right: 16px;
    padding-right: 4px;
    border-right: 1px solid var(--secondary-text);
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__text {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
