.error-bucket {
  margin-bottom: 16px;
  padding: 8px;
  color: var(--secondary-text);
  background-color: var(--error-transparent);
  border: solid 1px var(--error);
  border-radius: 4px;

  &__el {
    position: relative;

    &::before {
      position: absolute;
      top: 10px;
      left: 2px;
      width: 5px;
      height: 5px;
      background-color: var(--secondary-text);
      border-radius: 50%;
      content: '';
    }

    span {
      margin-bottom: 2px;
      margin-left: 16px;
    }
  }
}
