.sign-in {
  &__forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__additional__links {
    #container {
      * {
        background-color: var(--main-bg);
        border: 1px solid var(--secondary-text);
      }
    }

    .button {
      margin-bottom: 8px;
    }
  }
}
