@use '~/global/index' as *;

.aside-bar {
  $aside-bar-width: 50px;

  position: relative;
  width: $aside-bar-width;
  min-width: $aside-bar-width;
  margin-right: 16px;
  padding: 8px 4px;
  overflow: hidden;
  @include nm-outset-element;

  .aside-bar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  @include max-width-768 {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $aside-bar-width;
    min-height: $aside-bar-width;
    margin-top: 16px;

    .aside-bar__wrapper {
      justify-content: center;
    }
  }

  .logo {
    position: relative;
    top: 0;
    left: 0;
  }

  .aside-bar__button-el {
    position: relative;

    .custom-badge {
      padding: 8px 10px;
    }
  }

  .ant-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: $container-sm;
    @include max-width-768 {
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 100%;

      svg {
        margin-top: 6px;
      }
    }

    .ant-radio-button-wrapper {
      margin: 16px 0;
      background: transparent !important;
    }
  }
}
