@use '~/global/index' as *;

.chat-room-list {
  &__create-chat {
    padding: 16px;
  }

  .divider {
    margin-top: 16px;
  }

  &__body {
    margin-left: 1px;

    .ant-list-item-meta-description {
      height: 18px;
      overflow: hidden;
      font-size: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }

    .ant-list-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
      transition: 0.2s linear all;

      &.active {
        border-left: 3px solid var(--accent) !important;
        @include max-width-768 {
          border: none !important;
          box-shadow: none;
        }
      }
    }

    .ant-list-item-meta {
      display: flex;
      align-items: center;
      min-width: 60%;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    .custom-badge {
      position: relative;
      top: 0;
      right: 0;
      margin-right: 8px;
      padding: 10px 10px 9px;
    }
  }

  &__unread-messages {
    margin-right: 8px;
  }
}
