.wait-email-confirm {
  .header-text {
    margin-bottom: 16px;
  }

  &__not-received {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  &__counter {
    margin-top: 16px;
  }

  &__attempts {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .button {
    margin-top: 16px;
  }
}
