.message-context-menu {
  &__element {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;

    span {
      width: 70%;
      margin-left: 4px;
    }
  }

  .forward-icon {
    .icon {
      transform: rotateY(180deg);
    }
  }

  .delete-icon {
    .icon {
      transform: scale(0.8);
    }
  }
}
